.buttonFind{
	color: white;
	background:  #B0E0E6;
}
.buttonClear{
	color: white;
	background:  #778899;
}
.main{
	padding-top: 2rem;
}

table {
margin-top: 2rem;
border: 1px solid #69c;
border-collapse: separate;
empty-cells: hide;
}
th, td {border: 2px solid #69c;}